﻿@using Microsoft.Extensions.Localization;

@inject IStringLocalizer< Parliament.Web.Recourses > Localizer
    
@model Parliament.Web.Models.LawViewModel

@{
    Layout = "_BasicLayout";
    ViewBag.Title = Localizer[ "Law" ];
}

<div class="container content-wrap">

    <div class="row">

        <div class="col-xs-10 col-xs-offset-1">

            <h2>@Localizer[ "Law" ]</h2>

            <div>
                <p>@Localizer[ "Law ID"          ]: @Model.Law.DomainId</p>
                <p>@Localizer[ "Status"          ]: @Model.Law.Status</p>
                <p>@Localizer[ "Name"            ]: @Model.Law.Name</p>
                <p>@Localizer[ "LawPost"         ]: @Model.Law.Revisions</p>
            </div>

        </div>

    </div>

</div>