﻿@using Microsoft.Extensions.Localization;

@inject IStringLocalizer< Parliament.Web.Recourses > Localizer
    
@model Parliament.Web.Models.AdministratorViewModel

@{
    Layout = "_BasicLayout";
    ViewBag.Title = Localizer[ "Administrator" ];
}

<div class="container content-wrap">

    <div class="row">

        <div class="col-xs-10 col-xs-offset-1">

            <h2>@Localizer[ "Administrator" ]</h2>

            <div>
                <p>@Localizer[ "Administrator ID" ]: @Model.Administrator.DomainId</p>
                <p>@Localizer[ "Status"           ]: @Model.Administrator.Status</p>
                <p>@Localizer[ "Name"             ]: @Model.Administrator.Name</p>
                <p>@Localizer[ "AccessRight"      ]: @Model.Administrator.AccessRight</p>
                <p>@Localizer[ "E-mail"           ]: @Model.Administrator.Email</p>
            </div>

        </div>

    </div>

</div>