﻿@using Microsoft.Extensions.Localization;

@inject IStringLocalizer< Parliament.Web.Recourses > Localizer
    
@model Parliament.Web.Models.UserViewModel

@{
    Layout = "_BasicLayout";
    ViewBag.Title = Localizer[ "User" ];
}

<div class="container content-wrap">

    <div class="row">

        <div class="col-xs-10 col-xs-offset-1">

            <h2>@Localizer[ "User" ]</h2>

            <div>
                <p>@Localizer[ "User ID"          ]: @Model.User.DomainId</p>
                <p>@Localizer[ "Status"           ]: @Model.User.Status</p>
                <p>@Localizer[ "Name"             ]: @Model.User.Name</p>
                <p>@Localizer[ "UserPost"         ]: @Model.User.UserPost</p>
                <p>@Localizer[ "E-mail"           ]: @Model.User.Email</p>
            </div>

        </div>

    </div>

</div>