﻿@using Microsoft.Extensions.Localization
@model Parliament.Web.Models.MenuViewModel

@inject IStringLocalizer< Parliament.Web.Recourses > Localizer
@{
    Layout = "_BasicLayout";
    ViewBag.ActiveLink = "menu";
    ViewBag.Title = Localizer[ "Menu" ];
}

<div class="container content-wrap">

    <div class="row">

        @foreach ( var user in @Model.Users )
        {
            <div class="col-sm-6 col-md-4 col-lg-3">

                <div class="thumbnail">

                    <img src="~/@user.ImageUrl" class="img-responsive img-circle center-block" alt="@user.Name" >

                    <div class="userCaption">
                        <h3>@user.Name</h3>
                        <p class="small">@user.UserPost</p>
                    </div>

                </div>

            </div>
        }

        @foreach ( var admin in @Model.Administrators )
        {
            <div class="col-sm-6 col-md-4 col-lg-3">

                <div class="thumbnail">

                    <img src="~/@admin.ImageUrl" class="img-responsive img-circle center-block" alt="@admin.Name" >

                    <div class="adminCaption">
                        <h3>@admin.Name</h3>
                        <p class="small">@admin.AccessRight</p>
                    </div>

                </div>

            </div>
        }

    </div>

</div>