﻿@using Microsoft.Extensions.Localization;

@inject IStringLocalizer< Parliament.Web.Recourses > Localizer
    
@model Parliament.Web.Models.BillViewModel

@{
    Layout = "_BasicLayout";
    ViewBag.Title = Localizer[ "Bill" ];
}

<div class="container content-wrap">

    <div class="row">

        <div class="col-xs-10 col-xs-offset-1">

            <h2>@Localizer[ "Bill" ]</h2>

            <div>
                <p>@Localizer[ "Bill ID"          ]: @Model.Bill.DomainId</p>
                <p>@Localizer[ "Status"           ]: @Model.Bill.Status</p>
                <p>@Localizer[ "Name"             ]: @Model.Bill.Name</p>
                <p>@Localizer[ "BillPost"         ]: @Model.Bill.Revisions</p>
            </div>

        </div>

    </div>

</div>